@import "../../../scss/styles.scss";

.verticalGallery {
  display: flex;
  // align-self: center;
  gap: 2px;
  width: 57%;

  overflow: scroll;
  position: absolute;
  right: 0;
  padding-bottom: 44px;
}
@media (max-width: 740px) {
  .verticalGallery {
    width: 100%;
    position: static;
  }
}
