@import "../../../scss/styles.scss";

.verticalGallery__wrapper {
  position: absolute;
  right: 0;
  overflow: auto !important;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  touch-action: none;
  width: 57%;
  gap: 2px;
  .verticalGallery {
    // align-self: center;
    // overflow: auto;
    display: flex;
    padding-bottom: 44px;
  }
}
@media (max-width: 740px) {
  .verticalGallery__wrapper {
    width: 100%;
    position: static;
    .verticalGallery {
    }
  }
}
