@import "../../../../scss/styles.scss";

$gap: 25px;

.SendQuestionsContainer {
  display: flex;
  flex-direction: column;
  gap: 35px;

  color: white;
  width: 600px;

  .title {
    display: flex;
    flex-direction: column;
  }

  .inputs {
    display: flex;
    gap: $gap;
    width: 100%;
  }

  //calc(50% - $gap / 2)
  .button {
    @include button(calc(50% - $gap / 2));
  }
}
@media (max-width: 1050px) {
  .SendQuestionsContainer {
    width: 500px;
  }
}
@media (max-width: 850px) {
  .SendQuestionsContainer {
    width: 100%;
    .inputs {
      flex-direction: column;
    }
    .button {
      width: 100%;
    }
  }
}
