@import "../../../../scss/styles.scss";

$gap: 25px;

.sendQuestions {
  .SendQuestionsContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;

    color: white;
    width: 600px;

    .title {
      display: flex;
      flex-direction: column;
      &__text {
        @include subTitle(24px, $lightColor);
      }
    }

    .inputs {
      display: flex;
      gap: $gap;
      width: 100%;
    }

    .button {
      @include button(calc(50% - $gap / 2));
    }
  }
}

@media (max-width: 1050px) {
  .sendQuestions {
    .SendQuestionsContainer {
      width: 500px;
    }
  }
}
@media (max-width: 850px) {
  .sendQuestions {
    .SendQuestionsContainer {
      width: 100%;
      .inputs {
        flex-direction: column;
      }
      .button {
        width: 100%;
      }
    }
  }
}
@media (max-width: 740px) {
  .sendQuestions {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .sendQuestions {
    width: 100%;
  }
}

.mWSendQuestions {
  .SendQuestionsContainer {
    background-color: white;
    color: black;
    padding: 25px 25px 30px 25px;

    .title {
      &__text {
        @include subTitle(24px, $darkColor);
      }
    }
  }
}
