@import "../../../scss/styles.scss";
$gap: 30px;
.directorSection {
  padding: 130px 0;

  .directorSection__Container {
    position: relative;

    .DirectorSectionDescriptionCol {
      flex: 1;
    }
  }
}
