@import "../../../scss/styles.scss";
$gap: 30px;
.directorSection {
  padding: 130px 0;

  &__container {
    position: relative;
    .DirectorSectionDescriptionCol {
      flex: 1;
    }
  }
}
@media (max-width: 920px) {
  .directorSection {
    &__container {
      flex-direction: column;
      gap: $gap;
      &__video {
        display: grid;
        width: 100%;
      }

      .DirectorSectionDescriptionCol {
        width: 100%;
      }
    }
  }
}
