.buttonArrow {
  font-family: Gilroy-Bold;
  cursor: pointer;
  color: var(--text-color);
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  position: relative;

  margin-right: 42px;

  &:hover {
    + .arrow {
      .arrowContainer {
        -webkit-transform: translate(7px, 0);
        -moz-transform: translate(7px, 0);
        -o-transform: translate(7px, 0);
        transform: translate(7px, 0);
      }
    }
  }
}
.arrow {
  width: fit-content;
  .arrowContainer {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -mox-transition: all 0.5s ease-in-out;
    transition: transform all 0.5s ease-in-out;
    &:hover {
      -webkit-transform: translate(7px, 0);
      -moz-transform: translate(7px, 0);
      -o-transform: translate(7px, 0);
      transform: translate(7px, 0);
    }
  }
}

.reverse {
  flex-direction: row-reverse;
  .buttonArrow {
    margin-right: 0;
    margin-left: 42px;
  }
  .arrow {
    transform: rotateY(180deg);
  }
}

@media (max-width: 660px) {
  .textHide {
    display: none;
  }
}
