@import "../../../../../scss/vars.scss";
.filterItem {
  display: flex;
  position: relative;
  font-weight: 600;
}

.currentFilter {
  &:before {
    position: absolute;
    top: 10px;
    content: "";

    background-color: $darkColor;
    width: 100%;
    height: 2px;
  }
}
