@import "../../../App.module.scss";
.consultationSection {
  background-color: $contactSectionColor;
  &__Container {
    // background-color: $contactSectionColor;
    padding: 125px 0 110px 0;
  }
  &__Children {
    gap: 35px;
  }
}
