// @import "../../../App.module.scss";
@import "../../../scss/vars.scss";
.consultationSection {
  background-color: $contactSectionColor;
  padding: 125px 0 110px 0;
  &__Container {
    // background-color: $contactSectionColor;
  }
  &__Children {
    gap: 35px;
  }
}
