@import "../../../../../scss/styles.scss";

$gap: 30px;
.fAQSectionItem {
  display: flex;
  flex-direction: column;
  width: 100%;

  position: relative;

  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;

    width: 100%;
    border: 1px solid #7b7b7b;
    padding: 20px 25px 20px 58px;

    .title {
      font-family: Gilroy-Bold;
      cursor: pointer;
    }

    &:before {
      content: attr(data-content);
      font-weight: 700;

      position: absolute;
      left: 25px;
    }
  }
  &__Active {
    background-color: black;
    color: white;
  }
  .discription {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-out;

    &__Content {
      overflow: hidden;

      margin-top: 0;
      margin-bottom: $gap;
      transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out;
    }
  }
  .show {
    grid-template-rows: 1fr;
    .discription__Content {
      margin-top: $gap;
      transition: margin-top 0.3s ease-out, margin-bottom 0.3s ease-out;
    }
  }
}
