@import "../../../../scss/styles.scss";

.photoListDescription {
  display: grid;
  justify-content: space-between;
  width: 100%;
  grid-template-areas: "location area release rest";
  row-gap: 20px;

  .location {
    grid-area: location;
  }
  .area {
    grid-area: area;
  }
  .release {
    grid-area: release;
  }

  &__item {
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 18px;
      font-weight: 300;
    }
    &__value {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
@media (max-width: 930px) {
  .photoListDescription {
    grid-template-areas:
      "location location"
      "area release ";
  }
}
