@import "../../../scss/styles.scss";
.formBlock {
  padding-top: 100px;
  &__Container {
    &__Discription {
      width: 390px;
      gap: 28px;
      .button {
        @include button(100%);
      }
    }
  }
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}
