@import "../../../scss/styles.scss";

$gap: 30px;
.gallery {
  padding: 130px 0;

  &__Container {
    // gap: $gap;
    .portfolioGroup {
      display: flex;
      flex-direction: column;
      gap: $gap;
    }
  }
}
