@import "../../../scss/styles.scss";
$LightHoverColor: black;
$LightColor: #efefef;

//Mixin START
@mixin sectionButton($mainColor, $textColor, $hoverColor, $textHoverColor) {
  color: $textColor;

  background-color: $mainColor;
  transition: 0.2s ease-out;
  padding: 19px 50px;

  &:hover {
    background-color: $hoverColor;
    color: $textHoverColor;
  }
}
//Mixin END

//resultSectionButton START
.resultSectionButton {
  display: flex;
  margin-top: 30px;
  @include sectionButton($LightColor, black, $LightHoverColor, $lightColor);
}

@media (max-width: 920px) {
  .resultSectionButton {
    width: 100%;
    justify-content: center;
  }
}
//resultSectionButton END

.estimateCostSectionButton {
  width: fit-content;
  @include sectionButton(white, black, #e5e5e5, black);
}

.cursor {
  cursor: pointer;
}
