@import "../../../scss/styles.scss";
@import "../../../scss/vars.scss";

.priceListSection {
  background-color: $priceListSection;
  padding: 130px 0;
  &__Container {
    width: 100%;
  }
}
