.summaryBlockContainer {
  position: relative;
  padding-left: 75px;
  overflow-wrap: break-word;
  // max-width: 350px;

  .icon {
    width: 46px;
    height: 57px;
    object-fit: contain;

    position: absolute;
    left: 0;
    top: -24px;
  }

  .title {
    font-family: Gilroy-Bold;
  }

  .discription {
  }
}
