.summaryBlockContainer {
  position: relative;
  padding-left: 75px;

  .icon {
    width: 46px;
    height: 57px;
    object-fit: contain;

    position: absolute;
    left: 0;
    top: -24px;
  }

  .number {
    font-family: Gilroy-Extrabold;
    font-weight: 900;
    font-size: 70px;
    line-height: 65px;

    position: absolute;
    top: 0;
    left: 0;
  }

  .title {
    font-family: Gilroy-Bold;
  }

  .discription {
    max-width: 350px;
  }
}
