.mainLogo__wrapper {
  width: fit-content;
  height: fit-content;
  .mainLogo {
    width: 110px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .mainLogo__wrapper {
    .mainLogo {
      width: 141px;
      height: 62px;
    }
  }
}
