@import "../../scss/vars.scss";
.dropdown {
  display: flex;
  flex-direction: column;

  padding: 12px 20px 15px;

  position: absolute;
}

//////////////STYLES

// <HeaderNavItem> start
.headerNavItem {
  background-color: $headerDDColor;
}

.stickydHeaderNavItem {
  background-color: $headerStickyColor;
  box-shadow: 0 0 5px 0 #dbdbdb;
}
// <HeaderNavItem> end
