.resultSection__hoc__container {
  display: flex;
  justify-content: space-between;
  .column {
    text-align: justify;
    max-width: 392px;
  }
}
@media (max-width: 920px) {
  $gap: 30px;
  .resultSection__hoc__container {
    display: flex;
    flex-direction: column;
    gap: $gap;
    .column {
      max-width: fit-content;
      width: 100%;
    }
  }
}
