$paddingBottom: 130px;
.infoSection {
  position: relative;
  padding-bottom: $paddingBottom;

  &__Children {
    // gap: 35px;
  }
}

@media (max-width: 850px) {
  .infoSection {
    &__Children {
      flex-direction: column;
      gap: 35px;
    }
    &__Button {
      position: absolute;
      bottom: calc($paddingBottom / 2 - 1rem);
      left: 0;
    }
  }
}
