@import "../../../scss/styles.scss";

.resultSection {
  &__Container {
    .row {
      display: flex;
      align-items: start;
      justify-content: space-between;
    }

    .button {
      margin-top: 30px;
    }
  }
}

@media (max-width: 920px) {
  .resultSection {
    &__Container {
      .row {
        flex-direction: column;
      }
    }
  }
}
