@import "../../../scss/vars.scss";

.ServiceRangeSectionContainer {
  padding: 130px 0;
  background-color: $serviceRangeSectionColor;
  color: white;
  .ServiceThesisItemsContainer {
    // row-gap: 35px;
  }
}
@media (max-width: 850px) {
  .ServiceThesisItemsContainer {
    align-items: center;
    row-gap: 60px;
  }
}
