.textBlockContainer {
  text-align: left;
  gap: 28px;

  .paragraph {
    margin-right: 130px;
    // margin-bottom: 28px;
    overflow-wrap: break-word;
    max-width: 600px;
  }
}
@media (max-width: 850px) {
  .textBlockContainer {
    .paragraph {
      margin-right: 0;
    }
  }
}
