.textBlockContainer {
  text-align: left;
  gap: 28px;
  margin-right: 130px;
  width: 100%;
  .paragraph {
    overflow-wrap: break-word;
  }
}
@media (max-width: 850px) {
  .textBlockContainer {
    .paragraph {
      margin-right: 0;
    }
  }
}

//Modifications styles
.textBlock__InfoSectionBlock {
  margin-right: 130px;
  max-width: 600px;
}
