:root {
  --bs-body-font-family: "Gilroy-Regular";
  font-size: 14px;
}
@font-face {
  font-family: Gilroy-Bold;
  src: url("../Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-Extrabold;
  src: url("../Gilroy-Extrabold.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("../Gilroy-Regular.ttf");
}

/* html {
  overflow-x: hidden;
} */

body {
  box-sizing: border-box;
  overflow-x: hidden;

  min-width: 328px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy-Regular";
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.14rem;
  line-height: 2rem;
}

.modal-open {
  overflow: hidden;
}

button {
  /* Сброс стилей */
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: normal;
  overflow: visible;
  text-align: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  box-sizing: border-box;
  border: none;
  outline: none;
}

/*  MEDIA Layout */
.container-fluid {
  width: 1225px;
}

@media (max-width: 1250px) {
  .container-fluid {
    width: 1024px;
  }
}

@media (max-width: 1050px) {
  .container-fluid {
    width: 910px;
  }
}

@media (max-width: 920px) {
  .container-fluid {
    width: 840px;
  }
}

/* important breakpoint */
@media (max-width: 850px) {
  .container-fluid {
    width: 720px;
  }
}

@media (max-width: 740px) {
  .container-fluid {
    width: 640px;
  }
}

@media (max-width: 660px) {
  .container-fluid {
    width: 480px;
  }
}

@media (max-width: 500px) {
  .container-fluid {
    width: 375px;
  }
}

@media (max-width: 410px) {
  .container-fluid {
    width: 328px;
  }
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #000;
  width: 4px;
  position: absolute;
  right: 0;
  top: 0;
}
