:root {
  --bs-body-font-family: "Gilroy-Regular";
  font-size: 14px;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy-Regular";
  font-style: normal;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.14rem;
  line-height: 2rem;
}

button {
  /* Сброс стилей */
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: normal;
  overflow: visible;
  text-align: inherit;
  cursor: pointer;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

li {
  list-style-type: none;
}

input,
textarea {
  box-sizing: border-box;
  border: none;
  outline: none;
}

@font-face {
  font-family: Gilroy-Bold;
  src: url("../Gilroy-Bold.ttf");
}

@font-face {
  font-family: Gilroy-Extrabold;
  src: url("../Gilroy-Extrabold.ttf");
}

@font-face {
  font-family: Gilroy-Regular;
  src: url("../Gilroy-Regular.ttf");
}

/*  MEDIA */
.container-fluid {
  width: 1250px;
}

/* @media (max-width: 768px) {
  .container-fluid {
    margin-bottom: 130px;
  }
} */

@media (max-width: 1250px) {
  .container-fluid {
    width: 1024px;
  }
}

@media (max-width: 1050px) {
  .container-fluid {
    width: 910px;
  }
}

@media (max-width: 920px) {
  .container-fluid {
    width: 840px;
  }
}

/* important breakpoint */
@media (max-width: 850px) {
  .container-fluid {
    width: 720px;
  }
}

@media (max-width: 740px) {
  .container-fluid {
    width: 640px;
  }
}

@media (max-width: 660px) {
  .container-fluid {
    width: 480px;
  }
}

@media (max-width: 500px) {
  .container-fluid {
    width: 375px;
  }
}

@media (max-width: 410px) {
  .container-fluid {
    width: 328px;
  }
}
