@import "./vars.scss";

.section {
  // padding: 130px 0;
  padding-top: 130px;
  padding-bottom: 130px;
}

.stickyScreen {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

// <== Mixin START ==>
@mixin inputGroup($inputWidth, $fontSize, $borderColor) {
  .inputGroup {
    position: relative;
    display: flex;
    align-items: center;

    .inputLabel {
      transition: 0.3s;
      pointer-events: none;

      position: absolute;
      top: 1rem;
      left: 0;
    }
    .input {
      padding: 10px 0 16px 0;
      color: $borderColor;
      width: $inputWidth;

      border-bottom: 1px solid $borderColor;
      background-color: transparent;

      transition: 0.3s;
      &:focus ~ .inputLabel,
      &:not(:placeholder-shown) ~ .inputLabel {
        font-size: $fontSize;
        color: rgba($borderColor, 0.5);

        top: -1rem;
      }
    }
  }
}

@mixin generaText($textSize, $textColor) {
  color: $textColor;
  font-size: $textSize;
}

@mixin subTitle($textSize, $textColor) {
  font-weight: 600;
  color: $textColor;
  font-size: $textSize;
  line-height: 29px;
}

@mixin subText($textSize, $line-height) {
  font-size: $textSize;
  line-height: $line-height;
}

@mixin mobileNav($textSize, $textColor) {
  color: $textColor;
  font-weight: bold;
  font-size: $textSize;
  line-height: 29px;
}

@mixin button($size) {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  z-index: 2;

  white-space: nowrap;

  width: $size;
  color: black;

  background-color: #c1c1c1;

  transition: color 0.4s linear;
  padding: 17px 50px;

  position: relative;
  &:before {
    width: 100%;
    height: 100%;

    content: "";

    left: 0;
    top: 0;
    position: absolute;
    background-color: #efefef;
    z-index: -1;

    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
    transform: scaleX(0);
  }
  &:hover::before {
    transform: scaleX(1);
  }
}
// <== Mixin END ==>

// <== TEXT START ==>
h1 {
  font-family: Gilroy-Bold;
  font-size: 2.86rem;
  line-height: 3.57rem;

  margin-bottom: 0;
  padding-left: 0;
}

h2 {
  font-family: Gilroy-Bold;

  font-size: 2.43rem;
  line-height: 3rem;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

h3 {
  font-family: Gilroy-Bold;

  font-size: 1.72rem;
  line-height: 2.07rem;
}

h4 {
  font-family: Gilroy-Bold;

  font-size: 1.13rem;
  line-height: 22px;
}

.generalText {
  @include generaText(1rem, $lightColor);
}

.contactText {
  @include generaText(1.14rem, $lightColor);
}

.subTitle {
  @include subTitle(24px, $lightColor);
}

.subText {
  @include subText(14px, 180%);
}
.bold {
  font-family: Gilroy-Bold;
  font-size: 14px;
}

.boldItem {
  font-family: Gilroy-Bold;
}

// <== TEXT END ==>
