//SECTION BLOCK COLOR
$headerColor: #ffff;
$footerColor: #101010;
$serviceRangeSectionColor: #232323;
$contactSectionColor: #000000;

$introColor: rgba(0, 0, 0, 0.7);
// FONT COLOR
$whiteColor: #ffff;
