//SECTION BLOCK COLOR
$headerColor: #ffff;
$serviceRangeSectionColor: #232323;
$priceListSection: #232323;
$contactSectionColor: #000000;
$footerColor: #101010;

$introColor: rgba(0, 0, 0, 0.7);
// FONT COLOR
$lightColor: #ffff;
$darkColor: black;

// DROPDOWN COLOR
$headerDDColor: rgba(0, 0, 0, 0.7);
$headerStickyColor: white;

// BreakPoint
