@import "../../../../scss/styles.scss";

$position: 50%;
.resultSectionImage {
  width: 800px;

  height: 100%;

  &__container {
    width: 100%;
    height: 575px;
    position: relative;

    overflow: hidden;
    &__inner {
      width: 100%;
      height: 100%;

      position: relative;

      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .secondImage {
        object-position: left;

        position: absolute;
        inset: 0;
        z-index: 2;
      }
    }

    .resizeBar {
      opacity: 0;
      inset: 0;
      z-index: 100;

      width: 100%;
      height: 100%;

      position: absolute;
      cursor: pointer;
    }
    .resizeTumbler {
      width: 2px;
      height: 100%;

      background-color: white;
      pointer-events: none;

      transform: translateX(-50%);

      position: absolute;
      inset: 0;
      z-index: 2;
    }
    .resizeTumblerButt {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 38px;
      height: 38px;

      cursor: pointer;
      pointer-events: none;

      transform: translate(-50%, -50%);
      z-index: 2;

      background-color: white;
      border-radius: 50%;
      border: 3px solid white;
      box-sizing: content-box;

      top: 50%;
      position: absolute;

      .leftIcon {
        width: 8px;
        height: 8px;

        border-left: 2px solid black;
        border-bottom: 2px solid black;

        transform: rotate(45deg);
        margin-left: 3px;
      }
      .rightIcon {
        width: 8px;
        height: 8px;

        border-right: 2px solid black;
        border-top: 2px solid black;
        transform: rotate(45deg);
        margin-right: 3px;
      }
    }
  }
}

@mixin resultSecitonImageSize($width, $height) {
  .resultSectionImage {
    width: $width;
    &__container {
      height: $height;
    }
  }
}

@media (max-width: 1250px) {
  @include resultSecitonImageSize(500px, 360px);
}
@media (max-width: 920px) {
  @include resultSecitonImageSize(100%, 600px);
  //100%,600px
}
@media (max-width: 850px) {
  //720px
  @include resultSecitonImageSize(100%, 520px);
}
@media (max-width: 740px) {
  //720px
  @include resultSecitonImageSize(100%, 460px);
}
@media (max-width: 660px) {
  @include resultSecitonImageSize(100%, 240px);
}
