// @import "../../../../../scss/styles.scss";
$gap: 1px;
.portfolioList {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  align-self: center;

  .item {
    height: 300px;
  }
}
