// @import "../../../../../scss/styles.scss";
$gap: 2px;
.portfolioList {
  overflow: hidden;
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  align-self: center;

  row-gap: $gap;
  column-gap: $gap;
}
